@tailwind base;
@tailwind components;
@tailwind utilities;


.inactive-restaurant {
  display: flex;
  background-color: white;
  min-height: 100vh;
}

.restaurant-info {
  background-color: lightgray;
  min-height: 100vh;
  min-width: 80vh;
}

.restaurant-name {
  position: absolute;
  color: black;
  font-size: 32px;
  transform: translateX(0vh) translateY(0vh);
}

.restaurant-address {
  position: absolute;
  transform: translateX(0vh) translateY(6vh);
  color: black;
  font-size: 20px;
}

.restaurant-opentime {
  position: absolute;
  transform: translateX(0vh) translateY(10vh);
  color: black;
  font-size: 20px;
}

.restaurant-closetime {
  position: absolute;
  transform: translateX(0vh) translateY(14vh);
  color: black;
  font-size: 20px;
}

.active-sign {
  position: absolute;
  text-align: center;
  background-color: lightgreen;
  border-radius: 2px;
  border-color: black;
  border: 1px;
  transform: translateX(80vh) translateY(0vh);
  font-size: 30px;
  width: 120px;
}

.inactive-sign {
  position: absolute;
  text-align: center;
  background-color: red;
  border-radius: 2px;
  border-color: black;
  border: 1px;
  transform: translateX(80vh) translateY(0vh);
  font-size: 30px;
  width: 150px;
}

.time-edits {
  position: absolute;
  transform: translateX(85vh) translateY(13vh);
  flex-direction: column;
  text-align: center;
}

.time-edits .openTime-input,
.closeTime-input, .submit-changes {
  margin: 2px;
  padding: 4px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 1px;
  color: black;
}

.create-table{
  position: absolute;
  transform: translateX(85vh) translateY(28vh);
  flex-direction: column;
  text-align: center;
}

.create-table .tableNumber-input,
.numSeats-input, .createTable-button {
  margin: 2px;
  padding: 4px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 1px;
  color: black;
}

.changeTime-sign {
  position: absolute;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border: 1px;
  transform: translateX(85vh) translateY(7vh);
  font-size: 25px;
}

.createTable-sign {
  position: absolute;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border: 1px;
  transform: translateX(85vh) translateY(22vh);
  font-size: 25px;
}

.activate-outside {
  position: absolute;
  background-color: white;
  transform: translateX(158vh) translateY(84vh);
}

.activate-button {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border: 1px;
  color: black;
  background-color: lightgreen;
  width: 200px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
}

.table-info{
  position : absolute;
  width: 80vh;
  height: 70vh;
  background-color: lightblue;
  transform: translateX(0vh) translateY(30vh);
}

.view-tablesButton{
  transform: translateX(0vh) translateY(35vh);
}

.view-tables{
  width:150px;
  height:50px;
  background-color: teal; 
}

.delete-restaurant {
  position: absolute;
  background-color: white;
  transform: translateX(125vh) translateY(88vh);
}

.delete-button {
  display: relative;
  width: 200px;
  height: 50px;
  border-radius: 2px;
  background-color: #ca5d5d;
  vertical-align: auto;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.edit-tableButton{
  display: relative;
  background-color: lightgreen;
  width: 100px;
  height: 25px;
  transform: translateX(0vh) translateY(0vh);
  vertical-align: auto;
}

.edit-tablePopup{
  width: 400px;
  height: 100px;
  background-color: lightpink;
  z-index: 2;
  transform: translateX(-19vh) translateY(45vh);
}


.close-edit-tablePopup-Button{
  margin: 4px;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #000 ;
  color: black;
}

.edit-tableInput{
  color: white;
  background-color: black;
  transform: translateX(-0vh) translateY(0vh);
  border: 1px solid;
  border-color: #000 ;
  padding: 4px;
  margin: 4px;
}

.edit-tableInputButton{
  background-color: black;
  color: white;
  width: 60px;
  height: 25px;
}

.closed-dates {
  position: absolute;
  transform: translateX(130vh) translateY(40vh);
  background-color: violet;
  padding: 20px;
  border-radius: 5px;
}
.closed-dates h2 {
  font-size: 24px;
  font-weight: bold;
}

.closed-dates ul {
  list-style-type: none;
  padding: 0;
}

.closed-dates li {
  font-size: 18px;
  margin: 5px 0;
}

.closedDatesButton{
  color: black;
  font-weight: bold;
  padding: 2px;
  border: 2px solid;
  border-color: #000 ;
}


