@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.browseRestaurants{
  text-align: center;
  margin-top: 300px;
}

.browseRestaurants-button{
  width: 300px;
  height: 150px;
  background-color: #b9babd;
  padding: 20px;
  border-radius: 25px;
  color: black;
  font-size: 25px;
}

.signIn{
  text-align: right;
  margin-top: -435px;
}

.signIn-button{
  width: 125px;
  height: 75px;
  background-color: #b9babd;
  padding: 20px;
  border-radius: 25px;
}

.HomePage-Title{
  text-align: center;
  font-size: 40px;
  margin-top: 140px;
}

