.admin-report-util {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.back-button-format {
    margin: 10px;
}

.admin-container {
    display: flex;
    flex: 1;
}

.left-column, .middle-column, .right-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.left-column {
    background-color: #FAF9F6;
    color: #000;
    /*config for header text*/
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.middle-column {
    background-color: #A3C1DA;
    color: #000;
    /*config for header text*/
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.right-column {
    background-color: #FAF9F6;
    color: #000;
    /*config for header text*/
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.genbutton{
    display: relative;
    width: 230px;
    height: 50px;
    border-radius: 2px;
    padding: 10px;
    background-color: #5FCE81;
    vertical-align: auto;
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
}

.reserved {
    color: red;
}

.available {
    color: green;
}

.restaurant-list div {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    color: #000;
}

.restaurant-list div:hover {
    background-color: #eee;
}
