@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.viewAll{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(148, 177, 195);
  min-height: 100vh;
  
}


.viewAll-button{
  width: 300px;
  height: 150px;
  background-color: rgb(140, 124, 62);
  padding: 20px;
  border-radius: 25px;
  color: black;
  font-size: 25px;
  transform: translateY(-30vh);
}

.signIn{
  text-align: right;
  transform: translateY(-98vh);
}

.signIn-button{
  width: 125px;
  height: 75px;
  background-color: #b9babd;
  padding: 20px;
  border-radius: 25px;
  color: black;
}

.adminHomePage-Title{
  text-align: center;
  transform: translateY(-30vh);
  font-size: 40px;
  color: black;
  margin: 12px;
}

.back-button{
  width: 125px;
  height: 75px;
  background-color: #b9babd;
  padding: 20px;
  border-radius: 25px;
  color: black;
}

.logout-button {
  width: 500px;
  height: 150px;
  background-color: rgb(140, 124, 62);
  padding: 20px;
  border-radius: 25px;
  color: black;
  font-size: 25px;
  text-align: center;
  transform: translateY(-30vh);
}